<h1>Listing education_entries</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Graduation date</th>
      <th>Degree</th>
      <th>Major</th>
      <th>Gpa</th>
      <th>Accolades</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @education_entries.each do |education_entry| %>
      <tr>
        <td><%= education_entry.school %></td>
        <td><%= education_entry.graduation_date %></td>
        <td><%= education_entry.degree %></td>
        <td><%= education_entry.major %></td>
        <td><%= education_entry.gpa %></td>
        <td><%= education_entry.accolades %></td>
        <td><%= link_to 'Show', education_entry %></td>
        <td><%= link_to 'Edit', edit_education_entry_path(education_entry) %></td>
        <td><%= link_to 'Destroy', education_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education entry', new_education_entry_path %>
