<p id="notice"><%= notice %></p>

<p>
 <strong> Resume: </strong>
 <%= @education_entry.resume.try(:resume_name) %> <br>
 <%= @education_entry.resume.try(:resume_id) %>
</p>

<p>
  <strong>School:</strong>
  <%= @education_entry.school %>
</p>

<p>
  <strong>Graduation date:</strong>
  <%= @education_entry.graduation_date %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @education_entry.degree %>
</p>

<p>
  <strong>Major:</strong>
  <%= @education_entry.major %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @education_entry.gpa %>
</p>

<p>
  <strong>Accolades:</strong>
  <%= @education_entry.accolades %>
</p>

<%= link_to 'Edit', edit_education_entry_path(@education_entry) %> |
<%= link_to 'New Entry', new_entry_path %> | 
<%= link_to 'Show Resume', resume_path(@currentResume) %> |
<%= link_to 'User Page', user_path(@user) %>