<%= form_for(@resume) do |f| %>
	
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= @resume.date_created = Date.current() %>

  <div class="field">
    <%= f.label :resume_name %><br>
    <%= f.text_field :resume_name %>
  </div>
  <div class="field">
    <%= f.label :user_name %> (as you would like it to appear on the resume)<br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <%= f.label :user %><br>
 	<%= f.collection_select :user_id, User.all, :id, :name, :prompt =>
  true %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
