<%= @resume.date_created = Date.current() %>
<p id="notice"><%= notice %></p>

<p>
 <strong> User: </strong>
 <%= @resume.user.try(:name) %> <br>
 <%= @resume.user.try(:user_id) %>
</p>

<h3>General Information</h3>
<div>
  <strong>Resume Name:</strong>
  <%= @resume.resume_name %>
</div>

<div>
  <strong>Date Created:</strong>
  <%= @resume.date_created %>
</div>

<div>
  <strong>Name:</strong>
  <%= @resume.user_name %>
</div>

<div>
  <strong>Email:</strong>
  <%= @resume.email %>
</div>

<div>
  <strong>Phone:</strong>
  <%= @resume.phone %>
</div>

<div>
  <strong>Address:</strong>
  <%= @resume.address %>
</div>
<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', user_path(@user) %>

<h3>-- Education --</h3>
<p> 
  <% @EducationPosts.each do |post| %>
  <div>
   <strong> School: </strong>
   <%= post.school %>
  </div>
  
  <div>
   <strong> Graduation Date: </strong>
   <%= post.graduation_date %>
  </div>
	
  <div>
   <strong> Degree: </strong>
   <%= post.degree %>
  </div>
  
  <div>
   <strong> Major: </strong>
   <%= post.major %>
  </div>
  
  <div>
   <strong> GPA: </strong>
   <%= post.gpa %>
  </div>
  
  <div>
   <strong> Accolades: </strong>
   <%= post.accolades %>
  </div>
  	
	<br>
	
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_education_entry_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	
  <% end %>
</p>

<%= link_to 'New Education Entry', new_education_entry_path %>

<h3>-- Work Experience --</h3>
<p> 
  <% @WorkPosts.each do |post| %>
  <div>
	<div>
   <strong> Position: </strong>
   <%= post.Position %>
	</div>
   
   <div>
    <strong> Company: </strong>
    <%= post.Company %>
   </div>
  
   <div>
    <strong> Start Date: </strong>
    <%= post.start_date %>
   </div>
	
   <div>
    <strong> End Date: </strong>
    <%= post.end_date %>
   </div>
  
   <div>
    <strong> Description: </strong>
    <%= post.description %>
   </div>
  </div>
  
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', edit_work_entry_path(post) %></td>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
   <% end %>
</p>

<%= link_to 'New Work Entry', new_work_entry_path %>

<h3>-- Activity Experience --</h3>
<p> 
  <% @ActivityPosts.each do |post| %>
  <div>
	<div>
   	   	<strong> Position: </strong>
   	 	<%= post.position %>
	</div>
   
    <div>
     <strong> Organization: </strong>
     <%= post.organization %>
    </div>
  
    <div>
     <strong> Start Date: </strong>
     <%= post.start_date %>
    </div>
	
    <div>
     <strong> End Date: </strong>
     <%= post.end_date %>
    </div>
  
    <div>
     <strong> Description: </strong>
     <%= post.description %>
  </div>
  
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', edit_activity_entry_path(post) %></td>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
   <% end %>
  </p> 
   <%= link_to 'New Activity Entry', new_activity_entry_path %> 
   


